#contactForm{
    input{
        width: 100%;
        height: 3rem;
        background-color: #1d1b19;
        padding-left: 1rem;
        color: #888;
        border: 1px solid #987750;
        margin-bottom: 1rem;
    }
    textarea{
        width: 100%;
        background-color: #1d1b19;
        color: #888;
        border: 1px solid #987750;
        padding: 1rem;
        
        margin-bottom: 1rem;
    }
    button{
        width: 100%;
        background-color: #1d1b19;
        color: #888;
        border: 1px solid #987750;
        height: 3.4rem;
        transition: ease-in-out 0.3s;
    }
    button:hover{
        background-color: #987750;
        color: #1d1b19;
        border: 1px solid #888;
        height: 3.4rem;
    }
    
}