#circle{
    position:absolute;
  transform:translate(-50%,-50%);
  height:35px;
  width:35px;
  border-radius:50%;
  border:2px solid #987750;
}
#right{
    height: 80%;
    position: fixed;
    top: 20%;
    right: 0;
    transition: ease-in-out 0.5s;
    .poster{
        display: flex;
        justify-content: center;
        box-shadow: none;
        position: absolute;
    }
    img{
        max-width: 60%;
        border-radius: 50%;
    }
    .desc{
        position: absolute;
        width: 100%;
        bottom: 1%;
        .column{
            display: flex;
            justify-content: center;
            h3{
                color: #888;
                margin-bottom: 5%;
                cursor: pointer;
                transition: ease-in-out 0.3s;
            }
            h3:hover{
                color: #987750;
                font-size: 1.9rem;
            }
            p{
                color: #888;
            }
            a{
                color: #888;
                transition: ease-in-out 0.3s;
            }
            a:hover{
                color: #987750;
                font-size: 1.2rem;
            }
        }
        .major{
            display: flex;
            justify-content: center;
            p{
                padding: 0% !important;
                font-size: 1.4rem;
                color: #987750;
            }
        }
       
    }
  
    
}
#left{
   height: 100vh;
   transition: ease-in-out 0.5s;
   margin-bottom: 1rem;
   .main{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 4rem;
    margin-top: 2rem;
    min-height: 500px;
    .col-xl-3{
        padding: 0.2rem;
    }
    #intro{
        padding: 0;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 1px;
        color: #987750;
        padding-top: 5rem;
        margin: 0 0 54px;
    }
    #desc{
        padding-top: 2rem;
        font-size: 1.5rem;
        line-height: 1.5;
        color: #888;
    }
    h1{
        color: white;
        position: relative;
    }
    h1::after{
        content: "";
        position: absolute;
        height: 0.009rem;
        width: 100%;
        background-color: #888;
        top: 110%;
        left: 0%;
    }
   }
   #me{
    color: #888;

    span{
        letter-spacing: 2px;
        color: #888;
        font-weight: 500;
        font-size: 1.5rem;
    }
    a{
        color: #888;
        position: relative;
        transition:  ease-in-out 0.3s;

    }
    a:hover{
    color: #987750;
    font-size: 1.6rem;
    transform: scale(1.5);
    }
   }
 
#cv{
    border: 2px solid #888;
    height: 200px;
    width: 100%;
    transition: ease-in-out 0.4s;
    margin-top: 3rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    i{
        transition: ease-in-out 0.4s;
        color: #888;
        font-size: 4rem;
        p{
            margin-top: 1rem;
            margin-left: -1.8rem;
            font-size: 1rem;
        }
    }
}
#cv:hover{
    border: 2px solid #987750;
    transform: scale(1.05);
   i{
    color: #987750;
   }
}
.poster-main{
    display: flex;
    justify-content: center;
    height: 60vh;
    .poster{
        display: flex;
        justify-content: center;
        box-shadow: none;
        position: absolute;
    }
    img{
        max-width: 60%;
        border-radius: 50%;
    }
    .desc{
        display: flex;
        justify-content: center;
        width: 100%;
        h3{
            color: #888;
            cursor: pointer;
            transition: ease-in-out 0.3s;
        }
        h3:hover{
            color: #987750;
            font-size: 1.9rem;
        }
       
    }
}
}

