@media (max-width:970px) {
    .container{
        max-width: 98% !important;
    }
    body{
        #right{
            display: none;
        }
    }
    #menu{
        top: 0%;
        padding-top: 2rem;
        span{
            display: none;
        }
        i{
            color: #987750;
        }
    }
    .main{
        border: none !important;
    }
}