#other{
    .about{
        padding-bottom: 3rem;
        p{
            color: #888;
        }
        .desc{
            p{
                max-width: 68%;
                color: white;
                font-size: 1.7rem;
            }
            a{
                color: white;
                font-size: 1.3rem;
                transition: ease-in-out 0.2s;
            }
            a:hover{
                color: #987750;
                border-bottom: 1px solid #987750;
            }
            
        }
        
    }
    .about2{
        padding-bottom: 3rem;
        p{
            width: 100% !important;
            color: #888;
        }
        a{
            width: 100% !important;
            color: #888;
        }
        a:hover{
            color: #987750;
        }
    }
}